{% extends 'layouts/base.html' %}

{% block content %}
        <div id="breadcrumb" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">{{ page_title }}</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Index</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
        <div class="section">
			<div class="container">
				<div class="row text-center">
                    <h3 style="color: darcyan"> Main page content </h3>
				</div>
			</div>
		</div>
{% endblock content %}
